<!--HEADER-->
<div class="header">
    <div class="cssmenu">
        <ul>
            <li><a href="{{ site.baseurl }}/index.html">HOME</a></li>       
            <li><a href="/blog/">BLOG</a></li>
            <li><a href="https://github.com/zhouliking">GitHub</a></li>
            <li><a href="https://zhouliking.github.io/zlresume/">ABOUT-ME</a></li>
        </ul>
    </div>
		
    <div class="top-nav">
        <nav class="clearfix">
           <ul>
            <li><a href="{{ site.baseurl }}/index.html">HOME</a></li>       
            <li><a href="/blog/">BLOG</a></li>
            <li><a href="https://github.com/zhouliking">GitHub</a></li>
            <li><a href="https://zhouliking.github.io/zlresume/">ABOUT-ME</a></li>
           </ul>
        <a href="#" id="pull">MENU</a> 
        </nav>
    </div>
	
</div>
