---
layout: default 
---      
<div class="container">
    <div class="content">
        <div  class="cate-posts">
            <div class="title"><h1>[ POSTS ]</h1></div>
            <ul class="posts" data-cate="all" >    
                {% for post in  site.posts %}
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}" >
                        <h4>{{ post.title }}</h4>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        {{ post.excerpt }}
                    </a>
                </li>
                {% endfor %}
            </ul>
                <!-- 分类菜单内容 -->
            {% for category in site.categories %}
            <ul class="posts cates" data-cate="{{category | first}}">
                {% for posts in category  %}
                {% for post in posts %}
                {% if post.url %}
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}" >
                        <h4>{{ post.title }}</h4>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        {{ post.excerpt }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
            {% endfor %}


            <!--category-->
            <div class="category">
                <div class="category-content">
                    <h3>[ CATEGORY ]</h3>
                    <ul class="category-list">
                        <li data-cate="all">[ all ]<span>{{site.posts | size}}</span></li>
                            {% for category in site.categories %}
                        <li data-cate="{{ category | first }}">
                                [ {{ category | first }} ]<span>{{ category | last | size }}</span>
                        </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

       
    </div>
</div>  