.cate-posts{
    position: relative;
    margin-top:20px;
    vertical-align: top;
    height: 100%;
    width: 80%;
    white-space: normal;
    display: inline-block;
    background-color: rgba(255,255,255,0.6);
    border-radius: 6px;
    box-shadow: 0 2px 5px #666;

    .title{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 1024px) {
        width: 100%;
    }

    @media only screen and (max-width: 768px) {
        margin: 0px auto; 
    }
}


.posts{
    li {
        list-style: none;
        margin: 0 2em 20px;
        display: block;
        background-color: rgba(7,139,69,0.6);
        padding:4px 40px;
        border-radius: 6px;
        @include transition(all .3s linear);

        &:hover {
            padding-left: 30px;
            border-left: 15px solid #CE2323;

            @include transition(all .3s linear);
        }

        h4{
            @media only screen and (max-width: 375px) {
                font-size: 16px; 
            }
        }

        p{
            @media only screen and (max-width: 375px) {
                font-size: 14px;
            }
        }

        span{
            @media only screen and (max-width: 375px) {
                font-size: 14px;
            }
        }

        @media only screen and (max-width: 475px) {
            margin: 0 0.6em 10px;
            padding:4px 4px;
        }

    }
}

.category{
    position: absolute;
    top:0;
    right:-210px;
    width: 200px;
    display: inline-block;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 2px 5px #666;
    color: #333;

    h3{
        margin: 0;
        line-height: 2.4em;
        color: #104954;
        text-align: center;
    }

    ul{
        font-variant: small-caps;
    }

    li{
        list-style: none;
        display: block;
        position: relative;
        padding: 6px 25px 6px 8px;
        border-radius: 5px;
        margin: 10px 20px;
        line-height: 1.3em;
        @include transition(all .3s linear);
        cursor: pointer;

        &:hover{ 
            background-color: #CE2323;
            color: #FFF;

            span{
                color: #FFF;
            }
        }

        span{
            position: absolute;
            margin-left:40px;
            right:0px;
            width: 22px;
            line-height: 1.3em;
            text-align: center;
            border-radius: 11px;
            background-color: #CE2323;
            color: #FFF;
        } 
    }

    @media only screen and (max-width: 1024px) {
        display: none;
    }
}


