.comment{
    width:90%;
    margin: 0px auto;

    span{
	    display: inline-block;
	    padding: 10px 0;
	    margin-bottom: 20px;
	    width: 100%;
	    font-size: 24px;
	    font-weight: 600;
	    border-bottom: 2px solid #CE2323;
	}
}