.demo {
    width: 1024px;
    //min-height:110vh;
    margin: 60px auto 0;
    padding:20px 0; 
    @media only screen and (max-width: 1024px){
        width:98%;
        position:absolute;
        top:70px;
        left:1%;
    }
    @media only screen and (max-width: 767px) {
        width:90%;
        position:absolute;
        top:70px;
        left:51%;
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
    }
    @media only screen and (max-width: 540px) {
        width:90%;
        position:absolute;
        top:60px;
        left:50%;
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
    }
    .element { 
        width: 236px; 
        float: left;
        margin-right: 10px;
        @media only screen and (max-width: 1024px) {
            width: 32%;
        }
        @media only screen and (max-width: 767px) {
            width: 48%;
        }
        @media only screen and (max-width: 540px) {
            width: 100%;
        }   
        

        div {
            display:inline-block;
            border-radius: 5px;
            border: 2px solid #eee;
            background: #eee;
            box-shadow: 0px 0px 5px #eee; 
            padding: 10px; 
            margin-bottom: 10px;
            cursor: pointer;
            transition:all 0.3s ease-in-out;
            

            img {
                width: 214px; 
                display: block;
                @media only screen and (max-width: 1024px) {
                    width: 100%;
                } 
            }

            p{ 
                font-size: 1em;
                padding-top:10px;
                white-space: pre-wrap; 
                word-wrap:break-word; 
                word-break:break-all;

                a{
                    color:#FF6347;
                }
            }

            &:hover{
                transform:scale(1.04);
                -webkit-transform:scale(1.04);
                -o-transform:scale(1.04);
                -moz-transform:scale(1.04);
                box-shadow: 0px 2px 5px #000;
            }
        }


    }
}
