@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?80g8wm');
  src:url('../../fonts/icomoon.eot?80g8wm#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?80g8wm') format('truetype'),
    url('../../fonts/icomoon.woff?80g8wm') format('woff'),
    url('../../fonts/icomoon.svg?80g8wm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-linkedin2:before {
  content: "\e903";
}

.home{
  height:70vh;
}

.home .banner{
    width:420px;
    height:400px;
    margin: 160px auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));

    .banner-text {
        padding: 10px;
        padding-top: 60px;

      h1 {
          font-family:"Consolas",arial, sans-serif; 
          text-align: center;
          color: #000;
          padding-bottom: 10px;
      }

      h3{
          font-size: 1.4em;
          font-family:'Shadows Into Light',cursive,arial, sans-serif; 
          color:#da5a41!important;
          text-align:center;
          letter-spacing:5px;
          color:#3c4761;
      } 
    }

    @media only screen and (max-width: 768px) {
        width:320px;
        margin: 40px auto;
    }

    @media only screen and (max-width: 374px) {
        width:260px;
        margin: 30px auto; 
    }
}


.social {
    margin-top: 40px;
    padding: 0;
    font-size: 30px;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 26px;
        padding: 0;

        a { 
            color: #fff; 
            &:hover { 
                color: #11ABB0; 
            }
        }

        @media only screen and (max-width: 768px) {
            margin: 0 16px;  
        }
        @media only screen and (max-width: 374px) {
            margin: 0 10px;  
        }
    }
}