/*used in blog default*/
@mixin transition($transition){
	-webkit-transition:$transition;
	-moz-transition:$transition;
	-ms-transition:$transition;
	-o-transition:$transition;
	transition:$transition;
}

/*used in home*/
@mixin box-shadow($box-shadow){
	-webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}