.content{  
    width: 85%;
    margin: 60px auto; 
    min-height: 740px;

    @media only screen and (max-width: 1024px) {
	    width: 90%;
	}

	@media only screen and (max-width: 768px) {
	    margin-top: 0px;
	    margin-bottom: 10px;
	}
}

.page {
    position:relative; 
    margin-top:20px;
    vertical-align: top;
    height: 100%;
    width: 78%;
    white-space: normal;
    display: inline-block;
    background-color: rgba(255,255,255,0.6);
    border-radius: 6px;
    box-shadow: 0 2px 5px #666;

    @media only screen and (max-width: 1024px) {
	    width: 100%;
	}

	@media only screen and (max-width: 768px) {
	    margin: 0px auto; 
	}
}


