.post-content{
    padding: 2%;

    .title{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .post-date{
        text-align: right;
    }
    img{
        max-width:100%;
    }
    p{
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0;
        @media only screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
    h3{
        line-height:50px;
        margin-top:30px;
    }
    a{
        color: #8B1A1A;
    }
    blockquote{
        font-family:"consolas", 'Heiti SC', sans-serif;
        font-size:18px;
        color:#473C8B;
        padding-left:6px;
        border-left:6px solid #999;
        p{
            font-weight:bold;
        }
    }
    code{
        background-color:#fff;
        border-radius: 2px;
        line-height: 18px;
        padding: 0px 4px;
        color:#8e8222;  
    }
    .hljs{
        font-family: "consolas", 'Heiti SC', sans-serif;
        font-size: 18px;
        background-color:#fff;
        border-radius: 4px;
        line-height: 26px;
        padding: 6px 10px;
        margin: 0 3px;
        color:#8e8222; 
        overflow:hidden;
        @media only screen and (max-width: 768px) {
            max-width: 88%; 
        }   
    }
    
    ul{
        margin:1em;

        li {
            font-size: 16px;
            line-height: 28px;
            margin-left: 2em;
            margin-bottom: 6px;
            padding:4px 0px;
            list-style-type: disc;
        }
    }

    .javascript{
        opacity:1;
    }

    
}


.pagination{
    margin-top: 20px;
    li{
        list-style: none!important;
        margin-left: -1em!important;
    }
    a {
        padding: 10px 20px;
        margin: 0px;
        border-radius: 4px;
        background: #CE2323;
        line-height: 40px;
        font-family: 'Open Sans', 'Heiti SC', sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;

        &:hover {
            background: #fff;
            color: #ce2323;
        }
    }

    &:after {
        content: "";
        display: block;
        height: 0;
        width: 0;
        clear: both;
    }

    .previous {
        float: left;
    }
    .next {
        float: right;
    }
}


#markdown-toc{
    display: none;
}
.catalog-menu{
    position: absolute;
    top:0;
    right:-260px;
    width: 250px;
    display: inline-block;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 2px 5px #666;
    color: #333;

    h3{
        color:#00688B;
        text-align: center;
        margin: 6px 0;
    }

    ul{
        padding:0px;
        margin:0px;

        li{
            margin-top: 2px;
            margin-left: 30px;
            list-style-type :circle;

            ul{
                display: none;
            }
        }
    }

    a{
        color:#104954;
        &:visited{
            color:#104954;
        }
    }

    .catalog-menu-content{
        padding: 10px;

        >li{
            margin-top: 10px;
            margin-left: 12px;
            list-style-type :square;

            &:first-child{
                margin-top: 0;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        display: none;
    }
}


.hljs {
        width: 96%; 
        font-size: 1em;
        line-height: 20px;
        font-family: 'Consolas', 'Lucida Grande', arial, sans-serif;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px solid #8B5F65;
        background-color: #EAEAEA;
        white-space: pre-wrap; 
        word-wrap:break-word; 
        word-break:break-all;

    }






