html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p{margin:0;padding:0;}
header,footer,section,article,nav{display:block;}
html,body,fieldset,img,iframe,abbr{border:0;}
li{list-style:none;}
code{font-family:inherit;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
body{font:12px/1.14 arial,simsun;color:#333;outline:0;background:#fff;}
a,a:hover{text-decoration:none;color:#333;}
h1{font-size: 1.8em;color:#00688B;margin: 10px 0; }
h2{font-size: 1.6em;color:#104954;margin: 10px 0;}
h3{font-size: 1.4em;color:#222222;margin: 10px 0; }
h4{font-size: 1.2em;color:#104954;margin: 10px 0;}
h5{font-size: 1em;color:#222222;margin: 10px 0;}
