<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title + page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <!-- highlight.js -->
    <link rel="stylesheet" href="//libs.cncdn.cn/highlight.js/8.4/styles/tomorrow.min.css">
    <script src="//libs.cncdn.cn/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- CSS -->                       
    <link rel="stylesheet" href="{{ site.baseurl }}/statics/css/index.css">
</head>

<body>
    
    <div class="wrap">          
    {% include header.html %}    
        {{ content }}
    
        <!--回到顶部-->
        <a id="returnTop"></a>

    {% include footer.html %}
    </div>

    <script src="{{ site.url }}/statics/js/jquery.min.js"></script>
    <script src="{{ site.url }}/statics/js/index.js"></script>
    

</body>
</html>
