<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title + page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <link rel="stylesheet" href="{{ site.baseurl }}/statics/css/index.css">	
</head>

<body>
    
    <div class="wrap">          
    {% include header.html %}    
        {{ content }}
    
        <!--回到顶部-->
        <a id="returnTop"></a>

    {% include footer.html %}
    </div>

    <script src="{{ site.url }}/statics/js/jquery.min.js"></script>
    <script src="{{ site.url }}/statics/js/index.js"></script>
	
	
	<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
	var gitment = new Gitment({
		owner: 'zhouliking,
		repo: 'https://github.com/zhouliking/zhouliking.github.com',
		oauth: {
			client_id: '235c49926b999a071708',
			client_secret: '388ebb8b00f870db2a618250d09fe592e7d14385',
		},
	});
	gitment.render('gitmentContainer');
</script>
</body>
</html>
