---
layout: page
---
<div class="post-content">
    <div class="title"><h1>{{ page.title }}</h1></div>
    <p class="post-date">{{ page.date | date: "%b %-d, %Y" }}</p>
                    
     {{ content }}
                    
    <ul class="pagination">
        {% if page.previous.url %}
        <li class="previous">
            <a href="{{ site.baseurl }}{{ page.previous.url }}">Previous</a>
        </li>
        {% endif %}
        {% if page.next.url %}
         <li class="next">
            <a href="{{ site.baseurl }}{{ page.next.url }}">Next</a>
        </li>
        {% endif %}
    </ul>
</div>            

<div class="catalog-menu">
    <h3>目&nbsp;&nbsp;录</h3>
    <div class="catalog-menu-content"></div>
</div>


<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
	var gitment = new Gitment({
		owner: 'zhouliking,
		repo: 'https://github.com/zhouliking/zhouliking.github.com',
		oauth: {
			client_id: '235c49926b999a071708',
			client_secret: '388ebb8b00f870db2a618250d09fe592e7d14385',
		},
	});
	gitment.render('gitmentContainer');
</script>

<div class="comment">
	<span>Comments2</span>
	   
<!--	   
	   
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="zlresource.github.io{{ page.url }}"></div>
    
	<script type="text/javascript">
		var duoshuoQuery = {short_name:"zlresource"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
-->
</div>


